version: "3"
services:
    web:
      build: .
      command: python -u run.py
      ports:
        - "5000:5000"
      volumes:
        - .:/code
      links:
        - db
    db:
      image: mongo:3.6.2
