body {
    margin: 0px;
    font-family: sans-serif;
}

#content {
    margin-left: 5%;
}

#header-bar {
    /* width: 100%; */
    background-color: #41aae2;
    padding: 10px 30px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
}

#event-header-bar {
    display: flex;
    justify-content: flex-start;
    background-color: #8ec7e5;
    margin-left: -5.263157894%;
    padding: 10px 10px;
}

#login-box {
    margin-top: 10px;
}

 td,  th {
    padding: 8px;
}

 tr:nth-child(even){background-color: #f2f2f2;}

 tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #41aae2;
    color: white;
    font-weight: bold;
}

.header-link {
    color: white;
    margin-left: 10px;
}

#event-container {
    display: flex;
    flex-wrap: wrap;
}

.event-box {
    padding-right: 20px;
}

#profile-container {
    display: flex;
}

#profile-container table {
    width: 200px;
}

input[type=text],input[type='password']{
  border: 1px solid grey;
  border-radius: 5px;
  /* background-color: lightgrey; */
  outline: none;
  height: 25px;
  padding: 0px 5px;
