h1 {
    font-size: 2em;
}

h3 {
    font-size: 1.3em;
}

h2 {
    font-size: 1.75em;
}

.tabs .tab a{
  color: white;
}

.indicator {
    background-color: white !important;
}

.tabs .tab a:hover {
  color: #29b6f6;
}

.tabs .tab a.active {
  color: white;
}

.nav-wrapper {
    padding-right: 40px;
}

#login-card {
    margin-top: 100px;
}

.delete-button {
  padding: 0px 8px;
}

#logout-button {
  padding: 0px 10px;
}

#nav-title {
  font-size: 1.5em;
  background-color: #29b6f6;
  margin-left: 20px;
  margin-right: 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  margin-top: 150px;
}

.footer-copyright {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #64b5f6;
    text-align: center;
}

td {
  /*padding: 15px;*/
}

.action-td {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
