<!DOCTYPE html>
<html>
<head>
    <title>Swim</title>

    <script
    src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


    <link rel="stylesheet" type="text/css" href="/static/styles.css">

    <script>
    $(document).ready(function() {
        $('select').material_select();
        $('.modal').modal();

        $("a[path]").on("click", function(){
            path = $(this).attr("path")
            $.ajax({
                url: path,
                type: 'GET',
                success: function(data, textStatus) {
                    location.reload()
                }
            });
        })
    });



    </script>
</head>

<body>
    <ul id="dropdown1" class="dropdown-content">
      <li><a path="/selectTeam?team=Varsity&gender=M">Boys Varsity</a></li>
      <li><a path="/selectTeam?team=Junior%20Varsity&gender=M">Boys JV</a></li>
      <li><a path="/selectTeam?team=Gold&gender=M">Boys Gold</a></li>
      <li><a path="/selectTeam?team=Varsity&gender=F">Girls Varsity</a></li>
      <li><a path="/selectTeam?team=Junior%20Varsity&gender=F">Girls JV</a></li>
      <li><a path="/selectTeam?team=Gold&gender=F">Girls Gold</a></li>
    </ul>
    <nav class = "nav-extended">
        <div class = "nav-wrapper light-blue lighten-1">

            <ul class = "left">
                <li id="nav-title">SFSwim 🏊‍♂️</li>
                <li class = {{"active" if path=="roster" else "_"}} ><a href = "/roster" class = "header-link">Full Roster</a></li>
                <li class = {{"active" if path=="team_roster" else "_"}}><a href = "/teamroster" class = "header-link">Your Roster</a></li>
                <li class = {{"active" if path=="times" else "_"}}><a href = "/times" class = "header-link">Times</a></li>
                <li class = {{"active" if path=="events" else "_"}}><a href = "/event?stroke=free" class = "header-link">Events</a></li>
                <li class = {{"active" if path=="meets" else "_"}}><a href = "/meets" class = "header-link">Meets</a></li>
                {# <li><a href = "/changeTeam" class = "header-link">Change Team</a></li> #}
            </ul>

            <ul class="right">
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><b>{{ team }}</b><i class="material-icons right">arrow_drop_down</i></a></li>
                {# <li><b>{{ team }}</b></li> #}
                {% if not hideLogout %}
                <li>
                    <a id = "logout-button" class="btn-flat white light-blue-text" href = "/logout" id = "logout" class = "header-link">Logout</a>
                </li>
                {% endif %}
            </ul>


        </div>

        {% if show_extended %}
        <div class="nav-content ">
            <ul class="tabs light-blue lighten-3">
                <li class="tab col s3">
                    <a target="blank" class={{"active" if stroke == "free" else "_"}}  href="/event?stroke=free" class="header-link">Free</a>
                </li>
                <li class="tab col s3">
                    <a target="blank" class={{"active" if stroke == "back" else "_"}}  href="/event?stroke=back" class="header-link">Back</a>
                </li>
                <li class="tab col s3">
                    <a target="blank" class={{"active" if stroke == "fly" else "_"}} href="/event?stroke=fly" class="header-link">Fly</a>
                </li>
                <li class="tab col s3">
                    <a target="blank" class={{"active" if stroke == "breast" else "_"}} href="/event?stroke=breast" class="header-link">Breast</a>
                </li>
                <li class="tab col s3">
                    <a target="blank" class={{"active" if stroke == "medley" else "_"}} href="/event?stroke=medley" class="header-link">Medley</a>
                </li>
            </ul>
        </div>
        {% endif %}
    </nav>

    <div class="container">{% block content %}{% endblock %}</div>
</body>
</html>
