<!DOCTYPE html>
<html>
<head>
    <title>Swim</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script
            src="http://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
<head>

<body>

    <div id = "header-bar">

        <div id = "header-bar-left">
            SFSwim 🏊‍♂️
            <a href = "/roster" class = "header-link">Full Roster</a>
            <a href = "/teamroster" class = "header-link">Your Roster</a>
            <a href = "/times" class = "header-link">Times</a>
            <a href = "/event?stroke=free" class = "header-link">Events</a>
            <a href = "/meets" class = "header-link">Meets</a>
            <a href = "/changeTeam" class = "header-link">Change Team</a>
        </div>

        {% if not hideLogout %}
            <a href = "/logout" id = "logout" class = "header-link">Logout</a>
        {% endif %}
    </div>

    <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>
