<!DOCTYPE html>
<html>
<head>
    <title>Swim</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
<head>

<body>
    <div id = "header-bar">

        <div id = "header-bar-left">
            SFSwim 🏊‍♂️
            <a href = "/roster" class = "header-link">Roster</a>
            <a href = "/times" class = "header-link">Times</a>
            <a href = "/event?stroke=free" class = "header-link">Events</a>
        </div>

        {% if not hideLogout %}
            <a href = "/logout" id = "logout" class = "header-link">Logout</a>
        {% endif %}
    </div>

    <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>
