{% extends "base.html" %}

{% block content %}


<h1> {{stroke | capitalize}} </h1>


{% for event in events %}

<div class="card ">
    <div class="card-content">

        <h2>{{event.name}}</h2>

        <div class = "row">
            <div class = "col s6">
                <h3>Top Swimmers</h3>
                <table class = "bordered">
                    <tr>
                        <th>Name</th>
                        <th>Time</th>
                        <th>Meet</th>
                    </tr>

                    {% for time in event.timesByPlayer %}
                    <tr>
                        <td><a href = {{"/player?id="+time.player.id|string+"&stroke="+time.stroke+"&distance="+time.distance|string}}>{{time.player.name}}</a></td>
                        <td>{{time.str_time}}</td>
                        <td>{{time.meet.name}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class = "col s6">
                <h3>Top Times</h3>
                <table class = "bordered">
                    <tr>
                        <th>Name</th>
                        <th>Time</th>
                        <th>Meet</th>
                    </tr>

                    {% for time in event.totalTimes %}
                    <tr>
                        <td><a href = {{"/player?id="+time.player.id|string+"&stroke="+time.stroke+"&distance="+time.distance|string}}>{{time.player.name}}</a></td>
                        <td>{{time.str_time}}</td>
                        <td>{{time.meet.name}}</td>
                    </tr>

                    {% endfor %}
                </table>
            </div>

        </div>

    </div>
</div>
{% endfor %}

{% endblock %}
