{% extends "base.html" %}

{% block content %}

<div id = "event-header-bar">
     <a href="/event?stroke=free" class="header-link">Free</a>
     <a href="/event?stroke=back" class="header-link">Backstroke</a>
     <a href="/event?stroke=fly" class="header-link">Fly</a>
     <a href="/event?stroke=breast" class="header-link">Breaststroke</a>
     <a href="/event?stroke=medley" class="header-link">Medley</a>
</div>

<center><h1> {{stroke | capitalize}} </h1></center>


{% for event in events %}
<hr>
<h2><u>{{event.name | capitalize}}</u></h2>
<div id="event-container">

   <div class = "event-box">
       <h3>Top Swimmers</h3>
       <table>
           <tr>
               <th>Name</th>
               <th>Time</th>
               <th>Meet</th>
           </tr>

           {% for time in event.timesByPlayer %}
           <tr>
               <td><a href = {{"/player?id="+time.player.id|string+"&stroke="+time.stroke+"&distance="+time.distance|string}}>{{time.player.name}}</a></td>
               <td>{{'%0.2f'| format(time.time)}}</td>
               <td>{{time.meet.name}}</td>
          </tr>
           {% endfor %}
       </table>
   </div>
   <div class = "event-box">
        <h3>Top Times</h3>
        <table>
             <tr>
                  <th>Name</th>
                  <th>Time</th>
                  <th>Meet</th>
             </tr>

             {% for time in event.totalTimes %}
             <tr>
                  <td><a href = {{"/player?id="+time.player.id|string+"&stroke="+time.stroke+"&distance="+time.distance|string}}>{{time.player.name}}</a></td>
                  <td>{{'%0.2f'| format(time.time)}}</td>
                  <td>{{time.meet.name}}</td>
             </tr>

             {% endfor %}
        </table>
   </div>
</div>
{% endfor %}






{% endblock %}
