{% extends "base.html" %}

{% block content %}

{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
        <div class="card " id = "login-card">
            <div class="card-content">

                <img class = "center-align" src="{{url_for('static', filename='assets/sf-logo.png')}}" alt="Saint Francis Athletics">

                <div id = "login-box">
                    <form action="/login" method="POST" id="login-form">
                        <input type="text" name="username" placeholder="Username">
                        <input type="password" name="password" placeholder="Password">
                        <input class="waves-effect waves-light btn" type="submit" class="b" value="Log in">
                    </form>
                </div>
            </div>
        </div>


{% endif %}


{% endblock %}
