{% extends "base.html" %}

{% block content %}

{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
<style>
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 300px;
      margin-top: 150px;
    }

    .footer-copyright {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #64b5f6;
        text-align: center;
    }
</style>

<img class = "center-align" src="{{url_for('static', filename='assets/sf-logo.png')}}" alt="Saint Francis Athletics">

<br></br>
<div class="valign-wrapper row login-box">
  <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
    <form action="/login" method="POST" id="login-form">
      <div class="card-content">
        <div class="row">
          <div class="input-field col s12">
            <label for="username">Username</label>
            <input type="text" class="validate" name="username" id="username" />
          </div>
          <div class="input-field col s12">
            <label for="password">Password </label>
            <input type="password" class="validate" name="password" id="password" />
          </div>
        </div>

      </div>

      <div class="card-action right-align">
          <input type="submit" class="btn light-blue waves-effect waves-light" value="Log in">
      </div>

    </form>
  </div>
</div>
</form>

<footer>
    <div class="footer-copyright">
        <div class="container">
            <p class = "white-text left">© sfhacks 2018</p>
            <p class="white-text right">Created by Arnav Gudibande, Andrew Ke, and Nishan D'Souza</p>
        </div>
    </div>
</footer>

{% endif %}


{% endblock %}
h5
