{% extends "base.html" %}

{% block content %}

<h1> Add Meet </h1>

<div class="card ">
    <div class="card-content">

        <form action="/meets" method="POST">

            <input type="text" name="name" placeholder="Meet Name">
            <input class="waves-effect waves-light btn" type="submit" value="Add Meet">

        </form>

    </div>
</div>

<div class="card ">
    <div class="card-content">

        <table class = "bordered">
            <tr>
                <th>
                    Name
                </th>
            </tr>
            {% for meet in meets %}
            <tr class = "player-row">
                <td class = "player-name">{{ meet.name }}</span>
                <!-- <span class = "delete-button" onClick = "openModal(this)"> Delete </span> -->
            </tr>

            {% endfor %}
        </div>

    </div>
</div>


{% endblock %}
