{% extends "base.html" %}

{% block content %}

<h1> {{swimmer.name}} - {{stroke}} </h1> <!-- In this case, stroke being something like '50 free'-->

<!-- Insert graph here -->

<table>
     <tr bgcolor = "#">
          <td>Trial</td>
          <td>Time</td>
     </tr>
     {% for index, value in zip(range(1, len(data)+1), data) %}
     {% if value % 2 %}
     <tr bgcolor = "#">
          <td>{{index}}</td>
          <td>{{value}}</td>
     </tr>
     {% else %}
     <tr bgcolor = "#">
          <td>{{index}}</td>
          <td>{{value}}</td>
     </tr>
     {% endif %}


     {% endfor %}

</table>


{% endblock %}
