{% extends "base.html" %}

{% block content %}

<h1> {{swimmer.name}} - {{stroke | capitalize}} </h1> <!-- In this case, stroke being something like '50 free'-->


<div id = "profile-container">


    <script src='static/Chart.min.js'></script>
    <canvas id="chart" width="600" height="400"></canvas>

    <script>

    all = [{% for item in values %} {{item.time}}, {% endfor %}]

    var data = {
        labels : ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
        datasets : [
            {
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                bezierCurve : false,
                data : all.reverse().slice(all.length-10, all.length)
            }]
        }

        // Chart.defaults.global.animationSteps = 50;
        Chart.defaults.global.tooltipYPadding = 16;
        Chart.defaults.global.tooltipCornerRadius = 0;
        Chart.defaults.global.tooltipTitleFontStyle = "normal";
        Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
        // Chart.defaults.global.animationEasing = "easeOutBounce";
        Chart.defaults.global.responsive = false;
        Chart.defaults.global.scaleLineColor = "black";
        Chart.defaults.global.scaleFontSize = 16;

        var mychart = document.getElementById("chart").getContext("2d");

        // draw bar chart
        var LineChartDemo = new Chart(mychart).Line(data, {
            scaleShowVerticalLines: true,
            scaleShowGridLines : true,
            scaleShowLabels: true,
            bezierCurve: false,
        });


    </script>

    <table>
        <tr >
            <th>Time (Most recent)</th>
            <th>Meet</th>
        </tr>
        {% for value in values%}
        <tr >
            <td>{{value.str_time}}</td>
            <td>{{value.meet.name}}</td>
        </tr>

        {% endfor %}

    </table>

</div>

{% endblock %}
