{% extends "base.html" %}

{% block content %}
<h1>{{swimmer.name}}</h1>

<div class="card ">
    <div class="card-content">


     <table class = "bordered">
         <tr>
             <th>Event</th>
             <th>Time (Most recent)</th>
             <th>Meet</th>
             <th>Date</th>
         </tr>
         {% for value in values %} <!-- At most, the last 5 values -->
         <tr >
              <td><a href= {{"/player?id="+swimmer.id|string+"&stroke="+value.stroke+"&distance="+value.distance|string}}>{{value.distance|string + " " + value.stroke}}</a></td>
             <td>{{value.str_time}}</td>
             <td>{{value.meet.name}}</td>
             <td>{{value.date.strftime("%Y-%m-%d")}}</td>
         </tr>

         {% endfor %}

     </table>


</div>
</div>


{% endblock %}
