{% extends "base.html" %}

{% block content %}

<script>
row = undefined;
name = ""

$(() => {
    $(".delete-button").on("click", function() {
        name = $(this).closest("tr").find("a").text()
        row = $(this).closest("tr")
        $("#modal-message").text("Are you sure you want to delete " + name + " ?")

        $('#modal1').modal('open');
    })

    $(".delete").on("click", function() {
        row.remove()
        $.ajax({
            url: '/roster?name='+name,
            type: 'DELETE',
            success: function(data, textStatus) {
                console.log("Delete successful!");
            }
        });
        $("#modal1").modal("close")
    })
})

</script>

<h1> Roster </h1>


<!-- The Modal -->

<!-- Modal content -->
{# <div class="modal">
    <span class="close" onClick= "closeModal()">&times;</span>
    <h2>Delete Player</h2>
    <p id = "modal-text">Some text in the Modal.</p>
    <span class = "delete-button" onClick = "confirmDelete(this)"> Delete </span>
</div> #}


<!-- Modal Structure -->
 <div id="modal1" class="modal">
   <div class="modal-content">
     <h4 id = "modal-message">Are you sure you want to delete</h4>
     <p>All associated times will be deleted too.</p>
   </div>
   <div class="modal-footer">
     <a href="#!" class="modal-action modal-close waves-effect waves-grey btn-flat">Cancel</a>
     <a href="#!" class="delete waves-effect waves-grey btn-flat red lighten-1 white-text">Delete</a>
   </div>
 </div>


<div class="card ">
    <div class="card-content">
        <form action="/roster" method="POST">
            <div class = "row">
                <div class="input-field col s3">
                    <input type="text" name="name" placeholder="Swimmer Name">
                </div>
                <div class="input-field col s3">
                    <select name="gender">
                        {% for gender in genders %}
                        <option>{{gender}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-field col s3">
                    <select name="team">
                        {% for team in teams %}
                        <option>{{team}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <input class="waves-effect waves-light btn" type="submit" value="Add Swimmer">
        </form>
    </div>
</div>

<div class="card ">
    <div class="card-content">
        <table class = "bordered">
            <tr>
                <th align = "right">
                    Name
                </th>
                <th align="right"></th>
            </tr>
            {% for player in roster %}

            <tr>
                <td class = "player-name"><a href = {{"/playerProfile?id="+player.id|string}}>{{ player.name }}</a></td>
                <td class = "action-td">
                    <span class="delete-button waves-effect waves-light btn-flat modal-trigger red lighten-2 white-text right-align" href="#modal1"><i class="material-icons">delete</i></span>
                </td>
                
            </tr>

            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
