{% extends "base.html" %}

{% block content %}

<script>

console.log("test");

player = ""
row = undefined;
function openModal(tag, name) {
    console.log(name);
    $(".modal").show()
    player = $(tag).parent().find(".player-name").text()
    row = $(tag).parent()
    $("#modal-text").text("Are you sure you want to delete " + player + "?")
}

function closeModal() {
    $(".modal").hide()
}

function confirmDelete() {
    console.log("Test");
    $(".modal").hide()
    row.remove()
    $.ajax({
        url: '/roster?name='+player,
        type: 'DELETE',
        success: function(data, textStatus) {
            console.log("Delete successful!");
        }
    });
}

</script>

<h1> Roster </h1>


<!-- The Modal -->

<!-- Modal content -->
<div class="modal">
    <span class="close" onClick= "closeModal()">&times;</span>
    <h2>Delete Player</h2>
    <p id = "modal-text">Some text in the Modal.</p>

    <span class = "delete-button" onClick = "confirmDelete(this)"> Delete </span>
</div>

<div class="card ">
    <div class="card-content">
        <form action="/roster" method="POST">
            <div class = "row">
                <div class="input-field col s3">
                    <input type="text" name="name" placeholder="Swimmer Name">
                </div>
                <div class="input-field col s3">
                    <select name="gender">
                        {% for gender in genders %}
                        <option>{{gender}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-field col s3">
                    <select name="team">
                        {% for team in teams %}
                        <option>{{team}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <input class="waves-effect waves-light btn" type="submit" value="Add Swimmer">
        </form>
    </div>
</div>

<div class="card ">
    <div class="card-content">
        <table class = "bordered">
            <tr>
                <th>
                    Name
                </th>
                <th></th>
            </tr>
            {% for player in roster %}

            <tr>
                <td class = "player-name"><a href = {{"/playerProfile?id="+player.id|string}}>{{ player.name }}</a></td>
                <!-- <td class = "waves-effect waves-light btn red lighten-2" onClick = "openModal(this)"> Delete </td> -->
            </tr>

            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
