{% extends "base.html" %}

{% block content %}

<h1> Manage Team </h1>

<div class="collection">
    <a href="/selectTeam?team=Varsity&gender=M" class="collection-item">Boys Varsity</a>
    <a href="/selectTeam?team=Junior%20Varsity&gender=M" class="collection-item">Boys Junior Varsity</a>
    <a href="/selectTeam?team=Varsity&gender=F" class="collection-item">Girls Varsity</a>
    <a href="/selectTeam?team=Junior%20Varsity&gender=F" class="collection-item">Girls Junior Varsity</a>
    <a href="/selectTeam?team=Gold&gender=M" class="collection-item">Boys Gold</a>
    <a href="/selectTeam?team=Gold&gender=F" class="collection-item">Girls Gold</a>
</div>

{% endblock %}
