{% extends "base.html" %}

{% block content %}

<h3>Please choose the team you wish to work with</h3>
<ul>
     <li><a href ="/selectTeam?team=boysjv">Boys Junior Varsity</a></li>
     <li><a href ="/selectTeam?team=boysvarsity">Boys Varsity</a></li>
     <li><a href ="/selectTeam?team=girlsjv">Girls Junior Varsity</a></li>
     <li><a href ="/selectTeam?team=girlsvarsity">Girls Varsity</a></li>
     <li><a href ="/selectTeam?team=boysgold">Boys Gold</a></li>
     <li><a href ="/selectTeam?team=girlsgold">Girls Gold</a></li>
</ul>

{% endblock %}
