{% extends "base.html" %}

{% block content %}

<h3>Please choose the team you wish to work with</h3>
<ul>
     <li><a href ="/selectTeam?team=Junior%20Varsity&gender=M">Boys Junior Varsity</a></li>
     <li><a href ="/selectTeam?team=Varsity&gender=M">Boys Varsity</a></li>
     <li><a href ="/selectTeam?team=Junior%20Varsity&gender=F">Girls Junior Varsity</a></li>
     <li><a href ="/selectTeam?team=Varsity&gender=F">Girls Varsity</a></li>
     <li><a href ="/selectTeam?team=Gold&gender=M">Boys Gold</a></li>
     <li><a href ="/selectTeam?team=Gold&gender=F">Girls Gold</a></li>
</ul>

{% endblock %}
