{% extends "base.html" %}

{% block content %}

<h1> {{ teamname }} </h1>


<div class="card ">
    <div class="card-content">

        <table class = "bordered">
            <tr>
                <th>
                    Name
                </th>
            </tr>
            {% for player in roster %}
            <tr >
                <td class = "player-name"><a href = {{"/playerProfile?id="+player.id|string}}>{{ player.name }}</a></td>
            </tr>

            {% endfor %}
        </div>

    </div>
</div>



{% endblock %}
