{% extends "base.html" %}

{% block content %}

<h1> Times </h1>

<form action="/times" method="POST">
    <select name="name">
        {% for player in roster %}
            <option>{{player.name}}</option>
        {% endfor %}
    </select>
    <select name="stroke">
        {% for stroke in strokes %}
            <option>{{stroke}}</option>
        {% endfor %}
    </select>
    <select name="distance">
        {% for distance in distances %}
            <option>{{distance}}</option>
        {% endfor %}
    </select>
    <input type="text" name="time" placeholder="Time">
    <input type="submit" value="Add Time">

</form>



    {% for event in events %}
        <h3>{{event.name}}</h3>
        <table>
            <tr>
                <th>Name</th>
                <th>Time</th>
            </tr>

            {% for time in event.times %}
            <tr>
                <td><a href = {{"/player?id="+time.player.id|string+"&stroke="+time.stroke+"&distance="+time.distance|string}}>{{time.player.name}}</a></td>
                <td>{{'%0.2f'| format(time.time)}}</td>
            </tr>
            {% endfor %}

        </table>
    {% endfor %}




{% endblock %}
