{% extends "base.html" %}

{% block content %}

<h1> Times </h1>

<form action="/times" method="POST">
     <input list="swimmers" placeholder="Swimmer Name">
    <datalist id="swimmers">
        {% for player in roster %}
            <option value = "{{player.name}}">
        {% endfor %}
   </datalist>
    <select name="stroke">
        {% for stroke in strokes %}
            <option>{{stroke}}</option>
        {% endfor %}
    </select>
    <select name="distance">
        {% for distance in distances %}
            <option>{{distance}}</option>
        {% endfor %}
    </select>
    <input type="text" name="time" placeholder="Time">
    <input type="submit" value="Add Time">

</form>

{% endblock %}
